// Light theme.
:root {
    --theme-backgorund: white;
    --theme-text: black;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--theme-backgorund);
    color: var(--theme-text);
}
